
Sem01/SzamRend/BEAD/HTML/VCS.html.bak
Sem01/ImProg/gyak/01/Fahrenheit-Celsius-Converter/cabal.sandbox.config
Sem01/ImProg/gyak/01/Fahrenheit-Celsius-Converter/.cabal-sandbox/packages/00-index.tar
Sem01/ImProg/gyak/01/test.txt
Sem01/ImProg/gyak/01/Fahrenheit-Celsius-Converter/.cabal-sandbox/x86_64-linux-ghc-8.0.1-packages.conf.d/package.cache
Sem01/ImProg/gyak/01/Fahrenheit-Celsius-Converter/.cabal-sandbox/packages/00-index.cache
Sem01/ImProg/gyak/01/Fahrenheit-Celsius-Converter/.cabal-sandbox/add-source-timestamps
*.swp
.vscode/c_cpp_properties.json
.vscode/tasks.json
